body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    animation: fadeInBackground 4.5s ease-in-out forwards;
  z-index: -1;
}
nav ul li a {
  
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: transform 0.3s; 
}

nav ul li:hover a {
  transform: scale(1.1);
}


nav ul li:hover {
  border-bottom: 2px solid #fff;
}

nav a:hover {
  color: #fff;
}



header {
  
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  
  opacity: 0;
  animation:  fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn{
  from{
      opacity: 0;
      transform: translateY(20px);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

@keyframes fadeInBackground {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
.contact-details{
padding-right: 320px;
text-align: left;

}
  #social-media{
      justify-content: flex-start;
      
  }
  .fc{
    transition: transform .2s;
  }
  .fc:hover{
    transform: scale(1.1);

  }
  .ig{
    transition: transform .2s;
  }
  .ig:hover{
    transform: scale(1.1);

  }
  .tw{
    transition: transform .2s;
    
  }
  .tw:hover{
    transform: scale(1.1);

  }
  .mapa{
   float: right;
   
  }
  #contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 20px;
  }

  .contact-image {
width: 30%; 
border-radius: 4px;
}

.kolac_ .kolac:hover {
border-radius: 4px;
filter: blur(4px);
}

.kolac_ .kolac_text {
text-align: center;
position: absolute;
margin: 10px 40px;
visibility: hidden;
opacity: 0;
transition: opacity 0.5s ease-in-out;
}

.kolac_:hover .kolac_text {

text-align: center;
visibility: visible;
opacity: 1;
margin: -250px 129px;
color: black;
font-style: italic;
}
  

  #contact-form {
    flex: 1;
    padding: 100px;
  }

  #contact-form input,
  #contact-form textarea,
  #contact-form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
  }

  #contact-info {
    flex: 1;
    
  }

  #social-media {
    display: inline-block;
    padding-top: 15px;
    
  }
 
  #social-media img {
    width: 30px; 
  }
  .btn{
    
    transition: transform(.2s);
    transform: scale(0.9);
  }
  .btn:hover{
    transform: scale(1.0);
    color: green;
  }
  footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}